body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-origin: border-box;
}
.conteudo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.header {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 40px;
}

img {
    margin-top: 12px;
    width: 100px;
}
.cont-link {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    margin: 0px;
    margin-top: 100px;
    padding: 0px;
    width: 800px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.651);
}
h1 {
    font-family: Arial;
    font-weight: bold;

    color: white;

    letter-spacing: 5px;
}
._55r {
    font-family: Arial;
    font-weight: bold;
    text-align: center;

    color: white;

    letter-spacing: 2px;
}
.btn-down {
    margin: 0px;
    padding: 0px;

    width: 300px;
    height: 40px;

    outline: none;
    border: 1px solid white;
    cursor: pointer;

    font-family: Arial;
    font-weight: bold;
    color: white;

    background-color: rgba(0, 0, 0, 0.418);

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-down:hover {
    background-color: rgba(0, 0, 0, 0.726);
}
footer {
    position: absolute;
    right: 0px;
    bottom: 0;
}
#insta {
    padding-right: 12px;
    width: 35px;
}